
.content {
    grid-area: c;
    background-color: coral;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: mediumspringgreen;
}
.messages {
    padding: 10px;

}

.messages .mesage {
padding: 10px;
    color: honeydew;
}